.login {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 40px;
}

.message-form {
    text-align: center;
    height: 21px;
    margin-bottom: 50px;
}

.chat {
    text-align: center;
}