.lock {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.pin {
    text-align: center;
    height: 60px;
}

.numpad {
    text-align: center;
}

button[type=submit] {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}